.root {
    -fx-background-color: #000000;
}

.label {
    -fx-text-fill: #ADD8E6;
    -fx-font-weight: bold;
}

.label.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.label.header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #00008B;
    -fx-text-fill: #B0E0E6;
    -fx-font-size: 14px;
    -fx-border-color: #4682B4;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
}

.separator {
    -fx-background-color: #D3D3D3;
}

.text-field, .text-area {
    -fx-font-size: 14px;
    -fx-control-inner-background: #000033;
    -fx-text-fill: #FFFFFF;
}

.combo-box {
    -fx-background-color: #B0E0E6;
    -fx-text-fill: #FFFFFF;
}

.list-view {
    -fx-background-color: #000033;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #1E90FF;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
}

.scroll-pane {
    -fx-background: #000000;
    -fx-border-color: #1E90FF;
    -fx-border-width: 2px;
}

.button:focused, .text-field:focused, .combo-box:focused {
    -fx-border-color: #00BFFF;
    -fx-border-width: 3px;
}

.button:hover {
    -fx-background-color: #27408B;
}

.button:pressed {
    -fx-background-color: #4169E1;
}